<form action="/wikis/<%= wiki.id %>/collaborators/add" method="post">
  <div class="row">
    <div class="quad-col">
      <label for="collabEmail">User email:</label>
    </div>
    <div class="tri-quart-col">
      <input type="text" name="collabEmail" placeholder="Enter Email">
    </div>
  </div>
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Add</button>
</form>
