<meta charset="utf-8">
<meta name="viewport" content="width=device,width, initial-scale=1, shrink-to-fit=no">

<title>Bloccipedia</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display|Sedgwick+Ave|Saira+Extra+Condensed">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

<link rel="stylesheet" href="/css/main.css">
