<nav>
  <a class="logo" href="/">Bloccipedia</a>
  <div class="nav-links" id="topNav">
    <a href="/">Home</a>
    <a href="/wiki">Wikis</a>
    <% if(currentUser) { %>
      <a class="nav-right" href="/users/<%= currentUser.id %>">Account</a>
      <a class="nav-right" href="/users/sign_out">Sign Out</a>
    <% } else { %>
      <a class="nav-right" href="/users/sign_up">Sign Up</a>
      <a class="nav-right" href="/users/sign_in">Sign In</a>
    <% } %>
    <a href="javascript:void(0);" class="icon" onclick="hamburger()">
      <i class="material-icons">view_headline</i>
    </a>
  </div>
</nav>
