<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>
      <a href="/wiki">Back to Wiki List</a>
      <h2 class="h-display"><%= markdownWiki.title %></h2>
      <% if(currentUser && (!markdownWiki.private || currentUser.id == markdownWiki.userId)) { %>
        <a href="/wiki/<%= markdownWiki.id %>/edit">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Edit</button>
        </a>
      <% } %>
      <% if(currentUser && (currentUser.role == 2 || currentUser.id == markdownWiki.userId)) { %>
      <form style="display:initial" action="/wiki/<%= markdownWiki.id %>/destroy" method="post">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Delete</button>
      </form>
      <% } %>
      <div class="full-page">
        <p class="p-display small"><%- markdownWiki.body %></p>
      </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
