<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      
      <header>
        <h1 class="h-display">Welcome to Bloccipedia</h1>
        <p class="p-display">Learning about new topics from everyone.</p>
        <a href="/users/sign_up" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Sign up</a>
      </header>

      <h1></h1>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
