<!DOCTYPE html>
  <html>
    <head>
      <% include ../static/partials/head.ejs %>
    </head>
    <body>
      <% include ../static/partials/navbar.ejs %>

      <h2 class="h-display">Upgrade to Premium</h2>
      <hr>

        <main class="container">
          <% include ../static/partials/messages.ejs %>

          <form id="premium-charge-form" method="POST" action="/users/upgrade">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="sk_test_fS0Bwk3FP5ddpTzIymLXjAqG00VVuyNSFl"
              data-amount="1500"
              data-name="Bloccipedia"
              data-description="Premium account charge"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto">
            </script>

          </form>
        </main>

        <% include ../static/partials/baseScripts.ejs %>
      </body>
</html>
