<!DOCTYPE html>
  <html>
    <head>
      <% include ../static/partials/head.ejs %>
    </head>
    <body>
      <% include ../static/partials/navbar.ejs %>

      <h2 class="h-display">Sign up for Bloccipedia</h2>
      <hr>

        <main class="container">
          <% include ../static/partials/messages.ejs %>

          <form method="POST" action="/users">
            <div class="row">
              <div class="quad-col">
                <label for="name">Name:</label>
              </div>
              <div class="tri-quart-col">
                <input type="text" name="name" placeholder="Enter Name">
              </div>
            </div>
            <div class="row">
              <div class="quad-col">
                <label for="email">Email:</label>
              </div>
              <div class="tri-quart-col">
                <input type="email" name="email" placeholder="Enter Email">
              </div>
            </div>
            <div class="row">
              <div class="quad-col">
                <label for="password">Password:</label>
              </div>
              <div class="tri-quart-col">
                <input type="password" name="password" placeholder="Enter Password"/>
              </div>
            </div>
            <div class="row">
              <div class="quad-col">
                <label for="passwordConfirmation">Confirm Password:</label>
              </div>
              <div class="tri-quart-col">
                <input type=password name="passwordConfirmation" placeholder="Re-enter Password"/>
              </div>
            </div>
            <div class="row">
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Sign Up</button>
            </div>
          </form>
        </main>

        <% include ../static/partials/baseScripts.ejs %>
      </body>
</html>
